@model Moto_ShowsCore.Models.Subdivisions

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення підрозділу</h1>

<h3>Ви впевнені у видаленні?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.NumberOfEmployee)*@
            Кількість працівників
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEmployee)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.MotoShows)*@
            Автосалони
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotoShows.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
