@model IEnumerable<Moto_ShowsCore.Models.Subdivisions>

@{
    ViewData["Title"] = "Index";
}

<h1>Підрозділи автосалонів</h1>

<p>
    <a asp-action="Create">Додати новий підрозділ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.NumberOfEmployee)*@
                Кількість працівників
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MotoShows)*@
                Автосалони
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotoShows.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
