@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>background-image</title>
    <style>
        body {
            background: url(http://wallpapers-images.ru/1920x1080/cars/wallpapers/cars-wallpapers-1920x1080-0003.jpg) no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <style type="text/css">
            .center {
                text-align: center;
            }

            h2 {
                font-family: fantasy;
                color: lightcoral;
                font-size: 100%;
                text-align: center;
            }

            p {
                font-family: cursive;
                color: steelblue;
            }
        </style>

        <h2>Вітаю усіх на сайті Moto_Shows!</h2>
        <p>
            Тут ви відкриєте для себе покращену систему зберігання та обробки інформації.
            Ви можете додавати/видаляти/змінювати інформацію про автосалони, їх власників,
            автомобілі та клієнтів. Також Ви можете знайти потрібну Вам інформацію про
            перераховані вище елементи лише ввівши назву або її шматочок.
        </p>
        <p>
            Якщо у вас виникли питання чи є якісь скарги, все можете виразити мені особисто:
            <a class="btn btn-primary" href="mailto:ostapova3001@gmail.com?subject=Moto_Shows">Відправити лист на електрону пошту</a>
        </p>

    </div>
</body>

@*<div>
        <style type="text/css">
            .center {
                text-align: center;
            }

            h2 {
                font-family: fantasy;
                color:white ;
                font-size: 200%;
                text-align: center;
            }

            p {
                font-family: cursive;
                color:steelblue;
            }
        </style>

        <h2>Вітаю усіх на сайті Moto_Shows!</h2>
        <p>
            Тут ви відкриєте для себе покращену систему зберігання та обробки інформації.
            Ви можете додавати/видаляти/змінювати інформацію про автосалони, їх власників,
            автомобілі та клієнтів. Також Ви можете знайти потрібну Вам інформацію про
            перераховані вище елементи лише ввівши назву або її шматочок.
            Гадаю, Вам сподобається. Хай щастить!
        </p>
        <p>
            Якщо у вас виникли питання чи є якісь скарги, все можете виразити мені особисто:
            <a class="btn btn-default" href="mailto:ostapova3001@gmail.com?subject=Moto_Shows" target="_blank">Відправити лист на електрону пошту</a>
        </p>
    </div>*@
